# Example UPSMON config
MONITOR rackUPS@localhost 1 monuser REPLACE_ME_PASSWORD master
MONITOR rackPDU@localhost 1 monuser REPLACE_ME_PASSWORD master
MINSUPPLIES 1
SHUTDOWNCMD "/sbin/shutdown -h now"
NOTIFYFLAG ONBATT SYSLOG+WALL
NOTIFYFLAG LOWBATT SYSLOG+WALL+EXEC
NOTIFYCMD /etc/nut/upssched-cmd
RBWARNTIME 300
FINALDELAY 5